<ion-header>
  <ion-toolbar>
    <ion-title>New Contact</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Nama</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Telepon</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="full" color="primary" (click)="addContact()">Save Contact</ion-button>
</ion-content>
