<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button size="small" (click)="getPicture('camera')">
    <ion-icon name="camera" slot="start"></ion-icon>
    <ion-label>Camera</ion-label>
  </ion-button>
  <ion-button size="small" (click)="getPicture('gallery')">
    <ion-icon name="image" slot="start"></ion-icon>
    <ion-label>Gallery</ion-label>
  </ion-button>
  <input type="file" *ngIf="isDesktop" #filePicker (change)="onFileChoose($event)"/>

  <ion-button size="small" (click)="upload()">
    <ion-icon name="cloud-upload-outline" slot="start"></ion-icon>
    <ion-label>Upload</ion-label>
  </ion-button>

  <ion-card *ngIf="photo">
    <ion-card-content>
      <img [src]="photo">
    </ion-card-content>
  </ion-card>
</ion-content>
