<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>week10/index</ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/week10/create">CREATE</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let student of mahasiswa">
      <ion-label>{{student.nim}} - {{student.nama}} - {{student.prodi}}</ion-label>
      <ion-button routerLink="/week10/edit/{{student.key}}">EDIT</ion-button>
      <ion-button (click)="delete($event, student.key)">DELETE</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
