<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label><h1>Week 07</h1></ion-label>
    </ion-item>
    <ion-item routerLink="/template-driven">
      <ion-label>Form: Template-Driven</ion-label>
    </ion-item>
    <ion-item routerLink="/reactive-form">
      <ion-label>Form: Reactive</ion-label>
    </ion-item>

    <ion-item>
      <ion-label><h1>Week 08</h1></ion-label>
    </ion-item>
    <ion-item routerLink="/students1">
      <ion-label>Students1 - Model with Interface</ion-label>
    </ion-item>
    <ion-item routerLink="/students2">
      <ion-label>Students2 - Model with Class</ion-label>
    </ion-item>
    <ion-item routerLink="/students3">
      <ion-label>Students3 - RxJS</ion-label>
    </ion-item>

    <ion-item>
      <ion-label><h1>Week 09</h1></ion-label>
    </ion-item>
    <ion-item routerLink="/index">
      <ion-label>PHP-MySQL API</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
