<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon name="menu" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Creations</ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/recipes/tabs/creations/create">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>Row 1 Col 1</ion-col>
      <ion-col>Row 1 Col 2</ion-col>
      <ion-col>Row 1 Col 3</ion-col>
      <ion-col>Row 1 Col 4</ion-col>
      <ion-col>Row 1 Col 5</ion-col>
      <ion-col>Row 1 Col 6</ion-col>
      <ion-col>Row 1 Col 7</ion-col>
      <ion-col>Row 1 Col 8</ion-col>
      <ion-col>Row 1 Col 9</ion-col>
      <ion-col>Row 1 Col 10</ion-col>
      <ion-col>Row 1 Col 11</ion-col>
      <ion-col>Row 1 Col 12</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" offset="2" class="ion-hide-sm-down">Row 2 Col 1 - HAHAHAHAHAHAHA</ion-col>
      <ion-col size="4">Row 2 Col 2</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Row 3 Col 1
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <h1>Row 3</h1>
            <p>Col 2</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-end">
      <ion-col>
        Row 4 Col 1
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <h1>Row 4</h1>
            <p>Col 2</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
