<ion-header>
  <ion-toolbar>
    <ion-title>Authenticate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #ff="ngForm" (ngSubmit)="onSubmit(ff)">
    <ion-list>
      <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="email"
                   ngModel
                   name="email"
                   #emailCtrl="ngModel"
                   required
                   email></ion-input>
      </ion-item>
      <ion-item *ngIf="!emailCtrl.valid && emailCtrl.touched">
        <ion-label>Should be a valid email address.</ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password"
                   ngModel
                   name="password"
                   required
                   #passwordCtrl="ngModel"
                   minlength="6"></ion-input>
      </ion-item>
      <ion-item *ngIf="passwordCtrl.invalid && passwordCtrl.touched">
        <ion-label>Password kurang panjang. Minimal 6 karakter.</ion-label>
      </ion-item>
    </ion-list>
    <ion-button type="submit" color="primary" expand="block" (click)="onLogin()" [disabled]="ff.invalid">
      Login
    </ion-button>
  </form>
</ion-content>
